name: Github Actions CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  My-Deploy-Job:
    runs-on: ubuntu-latest

    steps:
      - name: "Hello World 출력하기"
        run: echo "Hello World"

