name: Github Actions CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  My-Deploy-Job:
    runs-on: ubuntu-latest
    steps:
      - name: 해당 OS에 레포지토리 파일 업로드하기
        uses: actions/checkout@v4

      - name: 잘 생성됐는지 확인하기
        run: |
          ls -a


